:root{
	--container-bg-color: #333;
	--left-button-hover-color: rgba(161, 11, 11, 0.4);
	/*--left-bg-color: rgba(11, 11, 11, 0.4);
	--right-bg-color: rgba(255, 230, 230, 0.4);*/
	--right-button-hover-color: rgba(92, 92, 92, 0.4);
	--hover-width: 55%;
	--other-width: 45%;
	--speed: 500ms;
}
html, body, header, .content{
	padding: 0;
    font-family: "Montserrat", arial;
	margin:0;
	width:100%;
	height: 100%;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
.clear{
	clear: both;
}
.banner-split.left .button:hover{
	background-color: var(--left-button-hover-color);
	border-color: var(--left-button-hover-color);
}
.banner-split.right .button:hover{
	background-color: var(--right-button-hover-color);
	border-color: var(--right-button-hover-color);
}
.form-container{
	position: relative;
	width: 100%;
	height: 100%;
}
.banner-split{
	position: absolute;
	width: 50%;
	height: 100%;
}
.banner-split.left{
	left: 0;
	background:url('../img/login-banner.jpg') no-repeat right 0.75rem center;
	background-size: cover;
}
.banner-split.left:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--left-bg-color);
}
.banner-split.right{
	right: 0;
	background:url('../img/signup-banner.jpg') no-repeat right 0.75rem center;
	background-size: cover;
}
.banner-split.right h1{
	text-transform: capitalize;
	color: #ffffff;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 0px;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.banner-split.right p{
	position: absolute;
	left: 5%;
	letter-spacing: 0;
	line-height: 25px;
	top: 50%;
	width: 90%;
	color: #fff;
	white-space: all;
}
.banner-split.right:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background:var(--right-bg-color);
}
.banner-split.left, .banner-split.right, .banner-split.right:before, .banner-split.left:before{
	transition: var(--speed) all ease-in-out;
}
.hover-left .left{
	width:var(--hover-width);
}
.hover-left .right{
	width: var(--other-width)
}
.hover-left .right:before{
	z-index: 2;
}
.hover-right .right{
	width: var(--hover-width);
}
.hover-right .left{
	width: var(--other-width);
}
.hover-right .left:before{
	z-index: 2;
}
.login-section{
	width: 60%;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	white-space: nowrap;

}
.login-section .text-danger{
	color: red;
	margin-top: 5%!important;
	font-size: 14px;
}
p.login-title{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	font-family: inherit;
}
.login-section p a {
	text-decoration: none;
	color: #9816f4;
}
.login-section input[type="text"], input[type="email"], input[type="password"]{
	padding: 4%;
	margin-top: 5%;
	width: 100%;
	font-size: 16px;
	border-radius: 40px;
	margin-bottom: 0%;
	background: #f7f7f7;
	border: 2px solid #f7f7f7;
}

.login-section h1{
	text-align: center;
	color: #000000;

}
.login-section button{
	background: #9816f4;
	margin-top: 5%;
	margin-bottom: 10%;
	padding: 4%;
	color: #fff;
    border: none;
	font-size: 16px;
	border-radius: 40px;
	width: 35%;
	cursor: pointer;
	-webkit-transition: all 1s;
	transition: all 1s;
	max-height: inherit;
}
.login-form .login-input-field-checkbox{
	padding-left: 5%;
}

@media(max-width: 1100px){
	.banner-split.right h1{
		font-size: 2em;
	}
	.login-section{
		width: 70%;
	}
	.login-section button{
		margin: 20%;
		width: 50%;
	}

}
@media(max-width: 720px){
	.banner-split.right h1{
		font-size: 1.5em;
	}
	.banner-split.right p{
		top: 40%;
	}
	.login-section{
		width: 70%;
	}
	.login-section button{
		margin: 20%;
		width: 50%;
	}
	.login-section p{
		font-size: 14px;
	}
	.login-section p a {
		font-size: 14px;
	}

}

@media(max-width: 480px){
	.banner-split.right h1{
		font-size: 1em;
	}
	.banner-split.right p{
		top: 40%;
		font-size: 12px;
	}
	.login-section p{
		font-size: 10px;
	}
	.login-section p a {
		font-size: 10px;
	}

}

/*******login and signup ui ends here *********/
/**********************************************/
nav{
	padding: 20px 15%;
}
.logo{
	font-size: 32px;
	font-weight: bold;
	float: left;
	margin-top: 15px;
	font-family: "Cookie";
}
nav>ul{
	list-style-type: none;
	padding: 0;
	float: right;
}
nav>ul>li{
	float: left;
	padding: 10px 15px;
}
nav>ul>li>a{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
nav ul li.active a{
	text-decoration: none;
	color: #fff;
	margin-top: -10%;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	border: 2px solid #9816f4;
	background: #9816f4;
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 50px;
}
a, nav>ul>li, p{
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
}
a, nav>ul>li, p{
	font-weight: lighter;
	line-height: 18px;
	text-align: justify; 
}
header, .content{
	position: relative;
	color: #fff;
}
.wrapper-left{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 36%;
	left: 8%;
}
.wrapper-left a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #fff;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 50px;
	margin-top: 15px;
}
.wrapper-left h1{
	font-weight: bold;
	font-size: 35px;
}
.wrapper-left p{
	font-size: 14px;
	line-height: 25px;
}
.wrapper-right{
	position: absolute;
	bottom: 40px;
	width: 50%;
	right: 0;
}
.wrapper-right>img{
	width: 100%;
}
.logo>i {
	margin-left: 8px;
}
.social-icons{
	position: absolute;
	top: 30%;
	left: 20px;
	width: 35%;
}
.social-icons>ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}
.social-icons>ul>li{
	margin-top: 10px;
	cursor: pointer;
}
.social-icons>ul>li i:hover{
	background-color: #730099;
	color: #ffffff;
}
.social-icons>ul>li>i{
	padding: 10px;
	background-color: #f7f7f7;
	transition: all 0.3s ease-in-out;
	color: #9816f4;
	text-align: center;
	width: 4% !important;
	border-radius: 50px;
}
.background{
	position: absolute;
	height: 100%;
	width: 150%;
	top: 0;
	left: 0;
	background:linear-gradient(to right, #730099 0%, #730099 20%, #730099 50%);
	transform:rotateZ(-10deg);
	transform-origin: bottom left; 
}

#questioner-services{
	margin-top: 2%;
	width: 100%;
}
.section-wrapper{
	margin-bottom: 25% !important;
}
#questioner-services h1{
	text-align: center;
	text-transform: uppercase;
	font-family:'Open Sans', sans-serif; 
}
p.meetup-content{
	width: 50% !important;
	line-height: 25px;
	margin:auto;
	padding: 3%;
	font-size: 16px !important;
	text-align: center;
    font-family: 'Open Sans', sans-serif;

}
#questioner-services .section-wrapper{
	width: 80%;
	margin:auto;
}
.section-wrapper .row{
	width: 28%;
	text-align: center;
	padding-left: .5%;
	padding-right: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	padding-top: 2%;
	padding-bottom: 5%;
	transition: all 0.3s ease 0s;
	background:;
	border: 2px solid #f7f7f7;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
    z-index: 999;
	float: left;
}
.section-wrapper .row i {
	color: #9816f4;
}
.section-wrapper .row img{
	width: 25%;
}
.section-wrapper .row:hover i{
}
.section-wrapper .row:hover{
	opacity: .8;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
}
.section-wrapper .row:hover a{
	color: inherit;
}
.section-wrapper .row:before{
	content: "";
	transition: all 0.3s ease 0s;
}
.section-wrapper .row:hover:before{
	top: 0;
	right: 0;
}
.section-wrapper .row a{
	text-decoration: none;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid #9816f4;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 50px;
}
.section-wrapper .row p {
	text-align: center;
}
p.description{
	font-size: 14px;
	line-height: 25px;
}

#meetup-section{
	background:url('../img/login-banner.jpg') no-repeat center center;
	height: 50%;
	padding-top: 5%;
	margin-top:0%;
	width: 100%;
}
.section-meetup-wrapper{
	margin-bottom: 25% !important;
}
#meetup-section h1{
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat";
}
p.meetup-content{
	width: 80%;
	margin:auto;
	padding: 1%;
	font-size: 18px;
	text-align: center;
    font-family: 'Open Sans', sans-serif;

}
#meetup-section .section-meetup-wrapper{
	width: 80%;
	margin:auto;
}
.section-meetup-wrapper .row{
	width: 20%;
	text-align: center;
	padding-left: .5%;
	padding-right: 2%;
	margin-right: 2%;
	padding-top: 2%;
	padding-bottom: 5%;
	transition: all 0.3s ease 0s;
	background:;
	border: 2px solid #f7f7f7;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
    z-index: 999;
	float: left;
}
.section-meetup-wrapper .row i {
	color: #9816f4;
}
.section-meetup-wrapper .row img{
	width: 25%;
}
.section-meetup-wrapper .row:hover i{
}
.section-meetup-wrapper .row:hover{
	opacity: .8;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
}
.section-meetup-wrapper .row:hover a{
	color: inherit;
}
.section-meetup-wrapper .row:before{
	content: "";
	transition: all 0.3s ease 0s;
}
.section-meetup-wrapper .row:hover:before{
	top: 0;
	right: 0;
}
.section-meetup-wrapper .row a{
	text-decoration: none;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
.section-meetup-wrapper .row p {
	text-align: center;
}

#how-questioner-works{
	//background:url('../img/signup-banner.jpg') no-repeat center center;
	height: 70%;
	padding-top: 5%;
	margin-top:0%;
	width: 100%;
}
.how-questioner-works-wrapper{
	margin-bottom: 25% !important;
}
#how-questioner-works h1{
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat";
}
p.meetup-content{
	width: 80%;
	margin:auto;
	padding: 1%;
	font-size: 18px;
	text-align: center;
    font-family: 'Open Sans', sans-serif;

}
#how-questioner-works .how-questioner-works-wrapper{
	width: 90%;
	margin:auto;
}
.how-questioner-works-wrapper .row{
	width: 40%;
	text-align: center;
	padding-left: .5%;
	padding-right: 2%;
	margin-left: 5%;
	margin-right: 2%;
	padding-top: 2%;
	padding-bottom: 5%;
	transition: all 0.3s ease 0s;
	background:;
	border: 2px solid #f7f7f7;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
    z-index: 999;
	float: left;
}
.how-questioner-works-wrapper .row i {
	color: #9816f4;
}
.how-questioner-works-wrapper .row img{
	width: 15%;
}
.how-questioner-works-wrapper .row:hover i{
}
.how-questioner-works-wrapper .row:hover{
	opacity: .8;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
}
.how-questioner-works-wrapper .row:hover a{
	color: inherit;
}
.how-questioner-works-wrapper .row:before{
	content: "";
	transition: all 0.3s ease 0s;
}
.how-questioner-works-wrapper .row:hover:before{
	top: 0;
	right: 0;
}
.how-questioner-works-wrapper .row a{
	text-decoration: none;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
.how-questioner-works-wrapper .row p {
	text-align: center;
}


#all-meetup-section{
	background:url('../img/login-banner.jpg') no-repeat center center;
	height: 50%;
	padding-top: 5%;
	margin-top:0%;
	width: 100%;
	margin-bottom: 15%;
}
.all-section-meetup-wrapper{
	margin-bottom: 25% !important;
}
#all-meetup-section h1{
	text-align: center;
	text-transform: uppercase;
	font-family: "Montserrat";
}
p.meetup-content{
	width: 80%;
	margin:auto;
	padding: 1%;
	font-size: 18px;
	text-align: center;
    font-family: 'Open Sans', sans-serif;

}
#all-meetup-section .all-section-meetup-wrapper{
	width: 70%;
	margin:auto;
}
.all-section-meetup-wrapper .row{
	width: 20%;
	text-align: center;
	padding-left: .5%;
	padding-right: 2%;
	margin-right: 2%;
	padding-top: 2%;
	padding-bottom: 5%;
	transition: all 0.3s ease 0s;
	background:;
	border: 2px solid #f7f7f7;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
    z-index: 999;
	float: left;
}
.all-section-meetup-wrapper .row i {
	color: #9816f4;
}
.all-section-meetup-wrapper .row img{
	width: 25%;
}
.all-section-meetup-wrapper .row:hover i{
}
.all-section-meetup-wrapper .row:hover{
	opacity: .8;
	-webkit-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-moz-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-o-box-shadow: 0px 0px 5px 1px #f7f7f7;
	-ms-box-shadow: 0px 0px 5px 1px #f7f7f7;
    box-shadow: 0px 0px 5px 1px #f7f7f7;
}
.all-section-meetup-wrapper .row:hover a{
	color: inherit;
}
.all-section-meetup-wrapper .row:before{
	content: "";
	transition: all 0.3s ease 0s;
}
.all-section-meetup-wrapper .row:hover:before{
	top: 0;
	right: 0;
}
.all-section-meetup-wrapper .row a{
	text-decoration: none;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}
.all-section-meetup-wrapper .row p {
	text-align: center;
}























































#footer-main{
	width: 100%;
	height: auto;
	margin:auto;
	background-color: #303038;
	padding: 20px 0px;
}
#footer-main .footer-social-icons{
	width: 100%;
	height: auto;
	margin:auto;
}
#footer-main .footer-social-icons ul{
	margin:0px;
	padding: 0px;
	text-align: center;
}
#footer-main .footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	border-radius: 100%;
	background: #f7f7f7;
	transition: all .3s ease-in-out;
}
#footer-main .footer-social-icons ul li:hover{
	background: #9816f4;
	color: #ffffff;
	cursor: pointer;
}
#footer-main .footer-social-icons ul li{
	color: #9816f4;
	font-size: 25px; 
	line-height: 50px;
}
#footer-main .footer-social-icons ul li i:hover{
	color: #fff;
}
#footer-main .footer-menu{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}
#footer-main .footer-menu ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#footer-main .footer-menu ul li{
	display: inline-block;
	margin:0px 25px;
}
#footer-main .footer-menu ul li a{
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	color:#fff;
	text-transform: ;
}
#footer-bottom{
	height: auto;
	margin: auto;
	background: #730099;
	padding: 2px;
}
#footer-bottom p{
	font-family: "Montserrat";
	font-size: 16px;
	text-align: center;
	color: #fff;
}
#footer-bottom p a{
	color: #fff;
}
#back-to-top{
	position: fixed;
	bottom: 3em;
	right: 3em;
	background-color: #730099;
	color: #fff;
	border:none;
	border-radius: 100%;
	padding: 1em;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
	transition: all .3s ease-in-out;
	display: inline-block;
	opacity: 0;
	text-decoration: none;
	font-size: .75em;
}
#back-to-top:hover{
	background-color: #9816f4;
}
#back-to-top.visible{
	opacity: 1;
}


@media(max-width: 1200px){
	.wrapper-left{
		left: 10%;
	}
	.wrapper-left h1{
		font-size: 24px;
	}
}
@media(max-width: 1100px){
	nav{
		width: 80%;
	}
	nav>ul>li>a{
		color: #fff;
		font-size: 13px;
		text-decoration: none;
	}
	.wrapper-left{
		width: 80%;
		left: 10%;
	}
	.wrapper-left h1{
		font-size: 24px;
	}
	.section-meetup-wrapper .row{
		width: 40%;
		padding-bottom: 5%;
	}
	.all-section-meetup-wrapper .row{
		width: 40%;
		padding-bottom: 5%;
	}
}
@media(max-width: 900px){
	nav{
		width: 85%;
	}
	.how-questioner-works-wrapper .row{
		width: 80%;
		margin-bottom: 3%;
	}
}
@media(max-width: 780px){
	.logo{
		font-size: 40px;
		margin-left: 30%;

	}
	nav{
		width: 70%;
	}
	.wrapper-left{
		top: 55%;
		width: 80%;
		left: 12%;
	}
	.wrapper-left h1{
		font-size: 20px;
	}
	.wrapper-left p{
		font-size: 14px;
	}
	.social-icons{
		width: 55%;
	}
}
@media(max-width: 680px){
	.logo{
		font-size: 40px;
		margin-left: 20%;

	}
	nav{
		width: 80%;
	}
	nav>ul>li>a{
	}
	nav ul li.active a{
		text-decoration: none;
		color: #fff;
		font-weight: 600;
	}
	.wrapper-left{
		top: 55%;
		width: 70%;
		left: 15%;
	}
	.wrapper-left h1{
		font-size: 20px;
	}
	.wrapper-left p{
		font-size: 14px;
	}
	.section-wrapper .row{
		width: 90%;
	}
	.social-icons{
		top: 30%;
		left: 20px;
		width: 55%;
	}
}

@media(max-width: 640px){
	.wrapper-left{
		top: 55%;
		width: 80%;
		left: 15%;
	}
	.wrapper-left h1{
		font-size: 20px;
	}
	.wrapper-left p{
		font-size: 14px;
	}
	.social-icons{
		top: 30%;
		left: 20px;
		width: 65%;
	}
}
@media(max-width: 620px){
	.wrapper-left{
		top: 55%;
		width: 80%;
		left: 15%;
	}
	.wrapper-left h1{
		font-size: 20px;
	}
	.wrapper-left p{
		font-size: 14px;
	}
	.social-icons{
		top: 30%;
		left: 20px;
		width: 80%;
	}
	#meetup-section h1{
		font-size: 22px;
	}
	#how-questioner-works h1{
		font-size: 22px;
	}
	#questioner-services h1{
		font-size: 22px;
	}
	.section-wrapper .row{
		width: 90%;
	}
	p.meetup-content{
		width: 90% !important;
		font-size: 14px !important;
	}
	#footer-main .footer-social-icons ul li{
		font-size: 15px; 
	}
	#footer-main .footer-menu ul li a{
		font-size: 10px;
	}
}

@media(max-width: 480px){
	.all-section-meetup-wrapper .row{
		width: 80%;
		padding-bottom: 5%;
	}
	.wrapper-left{
		top: 55%;
		width: 80%;
		left: 17%;
	}
	.wrapper-left h1{
		font-size: 20px;
	}
	.wrapper-left p{
		font-size: 14px;
	}
	.social-icons{
		width: 100%;
	}
}